header {
  background: #021847;
  color: #fff;
  overflow: auto;
  padding: 20px 15px;
}
header .logo {
  float: left;
  padding-left: 100px;
  text-align: right;
}
header .logo .detailLogo {
  font-size: 1.7rem;
}
header nav {
  float: right;
}
header nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.9rem;
}
header nav a:hover {
  color: #639;
}
header nav a.register-btn {
  background: #639;
  padding: 7px 25px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}